/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

p, ul {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul,
ul li {
  list-style: none;
}

p.sub {
  margin-left: 2em;
}

ul p.sub {
  margin-top: 0;
  margin-bottom: 0;
}

:root:not(.debugging) #debug-configs {
  max-height: 0;
  overflow: hidden;
}

:root:not(.debugging) #debug-configs * {
  -moz-user-focus: ignore;
  -moz-user-input: disabled;
}


#menu-items {
  column-count: 2;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid .row {
  display: flex;
  flex-direction: row;
}

.grid .column {
  display: inline-flex;
  flex-grow: 1;
}
.grid .column.label {
  flex-grow: 3;
}
.grid .column.format {
  flex-grow: 6;
}

.grid .column.remove {
  margin-left: 1em;
}

#copyToClipboardFormatsAddNewRow {
  text-align: center;
  width: 70%;
}


body > section {
  margin-top: 1em;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
body > section:not(.collapsed) {
  max-height: none !important;
}

body > section > h1:first-child {
  margin-top: 0;
  cursor: pointer;
}

body > section > h1:first-child::before {
  content: "▼";
  display: inline-block;
  font-size: 65%;
  margin-right: 0.5em;
  position: relative;
  transition: transform 0.2s ease;
}

body > section.collapsed > h1:first-child::before {
  transform: rotate(-90deg);
}

body > section > h1:first-child ~ * {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
body > section.collapsed > h1:first-child ~ * {
  opacity: 0;
}
