/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root {
  --button-opacity: 0.75;
  --button-hover-opacity: 1;
  --button-active-opacity: 0.5;
  --item-vertical-padding: 0.25em;
  /* https://dxr.mozilla.org/mozilla-central/rev/b056526be38e96b3e381b7e90cd8254ad1d96d9d/browser/themes/windows/browser.css#45 */
  --toolbar-non-lwt-bgcolor: #f9f9fa;
  --toolbar-non-lwt-textcolor: #0c0c0d;
  --focused-item-bgcolor: Highlight;
  --focused-item-textcolor: HighlightText;
  --disabled-message-bgcolor: rgba(249, 249, 250, 0.85); /* #f9f9fa */
}

:root[data-theme="dark"] {
  --toolbar-non-lwt-bgcolor: #474749;
  --toolbar-non-lwt-textcolor: #f9f9fa;
  --focused-item-bgcolor: #707071;
  --focused-item-textcolor: #f9f9fa;
  --disabled-message-bgcolor: rgba(71, 71, 73, 0.85); /* #474749 */
/*
  --tab-active-marker: #0a84ff;
  --tab-active-marker-inactive: rgba(255, 255, 255, 0.2);
*/
}

body {
  background: var(--toolbar-non-lwt-bgcolor);
  color: var(--toolbar-non-lwt-textcolor);
  font-size: var(--panel-font-size, medium);
}


/* main view */

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: var(--panel-max-width, 30em);
  min-height: var(--panel-min-height, 20em);
  min-width: var(--panel-min-width, 25em);
}

.caption {
  text-align: center;
  padding: 0.25em;
}

.caption.top {
  border-bottom: 1px solid;
  margin-bottom: 0.25em;
}

.caption.bottom {
  border-top: 1px solid;
  margin-top: 0.25em;
}

#main ul {
  flex-grow: 1;
}

#tabs {
  list-style: none;
  margin: 0;
  max-height: var(--panel-max-height, 25em);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

#tabs li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li * {
  line-height: 1;
  vertical-align: middle;
}

#tabs li .checkbox-container {
  margin-left: 0.5em;
  padding: var(--item-vertical-padding) 0;
}

#tabs li label {
  flex-grow: 1;
  overflow: hidden;
  padding: var(--item-vertical-padding) 1em var(--item-vertical-padding) 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#tabs li img {
  max-height: 16px;
  max-width: 16px;
}

#tabs li img.error {
  display: none;
}
#tabs li img.error + .default-favicon {
  background: url(./moon.svg) no-repeat center center;
  display: inline-block;
  min-height: 16px;
  min-width: 16px;
  height: 16px;
  width: 16px;
}

#tabs li.last-focused {
  outline: dotted 1px;
}

#tabs li.selected,
#tabs li.ready-to-close .closebox {
  background: var(--focused-item-bgcolor);
  color: var(--focused-item-textcolor);
}


.closebox {
  opacity: var(--button-opacity);
  padding: var(--item-vertical-padding) 0;
}

.closebox::before {
  /*
    There are some possible characters for this purpose:
    https://en.wikipedia.org/wiki/X_mark
    - X: upper case X
      * Too narrow
    - ×: U+00D7 MULTIPLICATION SIGN (z notation Cartesian product)
      * Too small on macOS
    - ╳: U+2573 BOX DRAWINGS LIGHT DIAGONAL CROSS
      * Too large on Ubuntu
    - ☓ : U+2613 SALTIRE (St Andrew's Cross)
      * Narrow a little on Windows and macOS
    - ✕: U+2715 MULTIPLICATION X
      * Too small on macOS
    - ✖: U+2716 HEAVY MULTIPLICATION X
      * Too small on macOS
    - ❌ : U+274C CROSS MARK
      * Colored on macOS
    - ❎ : U+274E NEGATIVE SQUARED CROSS MARK
      * Colored on macOS
      * Box around the mark is unnecessary
    - ⨉ : U+2A09 N-ARY TIMES OPERATOR
    - ⨯: U+2A2F VECTOR OR CROSS PRODUCT
      * Too small on macOS
    - 🗙: U+1F5D9 CANCELLATION X
      * Unavailable on macOS
    - 🗴 : U+1F5F4 BALLOT SCRIPT X
      * Unavailable on macOS
    - 🞩: U+1F7A9 LIGHT SALTIRE
      * Unavailable on macOS
    So ⨉ (U+2A09) looks good for me on Windows, macOS, and Linux (tested on Ubuntu).
  */
  content: "⨉";
}

.closebox:hover {
  opacity: var(--button-hover-opacity);
}

.closebox:active {
  opacity: var(--button-active-opacity);
}


/* menu view */

#menu.open ~ .menu-ui-blocking-screen {
  background: rgba(0, 0, 0, 0.01); /* this is required to prevent ghost rendering */
}


/* disabled message */

#disabled-message {
  background: var(--disabled-message-bgcolor);
  bottom: 0;
  color: var(--toolbar-non-lwt-textcolor);
  display: none;
  left: 0;
  line-height: 1.5;
  padding: 1.5em;
  position: fixed;
  right: 0;
  text-shadow: 0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor),
               0 0 0.5em var(--toolbar-non-lwt-bgcolor);
  top: 0;
  z-index: 10000;
}

#disabled-message p {
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: distribute;
}
