@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root[multipletab-selection-style="color"] .tabbrowser-tab[multipletab-selected="true"] .tab-image-left,
:root[multipletab-selection-style="color"] .tabbrowser-tab[multipletab-selected="true"] .tab-image-middle,
:root[multipletab-selection-style="color"] .tabbrowser-tab[multipletab-selected="true"] .tab-image-right,
:root[multipletab-selection-style="color"] .tabbrowser-tab[multipletab-selected="true"] .tab-middle,
:root[multipletab-selection-style="color"] .tabbrowser-tab[multipletab-selected="true"] .tab-close-button {
	background-color: Highlight !important;
	color: HighlightText !important;
}

:root[multipletab-selection-style="border"] .tabbrowser-tab[multipletab-selected="true"] {
	font-weight: bold !important;
	-moz-appearance: none !important;
	border: 2px solid -moz-dialogtext !important;
	-moz-border-top-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-right-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-bottom-colors: -moz-dialogtext -moz-dialogtext !important;
	-moz-border-left-colors: -moz-dialogtext -moz-dialogtext !important;
}

.tabbrowser-tab[multipletab-ready-to-close="true"] .tab-close-button image {
	outline: 2px solid invert;
	background-color: Highlight !important;
}
